/out
cmake-build-debug-mingw/
bin/
build/
/.vs
.idea/
CMakeSettings.json
Makefile

#ignore audio files (license)
resources/audio/

# Random debug files
ServerLog
PrismEngine.log
ERRORS
imgui.ini
game_scene.yaml
autosave_scene.yaml